<!DOCTYPE html>
<html lang="pt">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senha Chamada:</title>
    <link rel="stylesheet" href="style.css">
    <script>
        function voltar() {
            window.location.href = "/";
        }
    </script>
</head>
<body style="font-family: Arial, Helvetica, sans-serif;">
    <div style= "flex: 10;font-size: 50px;width: 200px; text-align: center; margin: auto;">
        Senha chamada:
        <%= senha %>
        <button style="padding: 15px;" onclick="voltar()">Voltar</button>
    </div>
</body>
</html>