
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }
    button {
        padding: 10px 20px;
        font-size: 20px;
        background-color: blueviolet;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    button:hover {
        background-color: #400bf0;
    }